@model IEnumerable<PingSite.Core.DTO.BuildingDto>

<div class="row">
    <div class="col-lg" style="text-align: center;">
        <h1>Buildings</h1>
        <a href="#" class="btn btn-primary" style="margin-bottom: 10px;">Add</a>
    </div>
</div>


@foreach (var b in Model)
{
    <div class="row">
        <div class="col-lg">
            <div class="building">
                <img src="~/images/building.svg" width="30" height="37"> <a href="#">@b.Name</a>
                <div class="options">
                    <a href="#" class="btn btn-outline-primary">Edit</a>
                    <a href="#" class="btn btn-outline-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>
}
    