@model PingSite.Models.Building.EditBuilding

<div class="container">
    <div class="row">
        <div class="col-lg" style="text-align: center;">
            <h1>Edit Building</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <label>Name</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-success">Change</button>
            }
        </div>
    </div>
</div>